@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+IN:wght@100..400&display=swap");
@import "tailwindcss";

.lobster-two-regular {
  font-family: "Lobster Two", serif;
  font-weight: 400;
  font-style: normal;
}

.lobster-two-bold {
  font-family: "Lobster Two", serif;
  font-weight: 700;
  font-style: normal;
}

.lobster-two-regular-italic {
  font-family: "Lobster Two", serif;
  font-weight: 400;
  font-style: italic;
}

.lobster-two-bold-italic {
  font-family: "Lobster Two", serif;
  font-weight: 700;
  font-style: italic;
}

.playwrite-in-thin {
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.playwrite-in-extra-light {
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.playwrite-in-light {
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.playwrite-in-regular {
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.caveat-regular {
  font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.caveat-medium {
  font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.caveat-semibold {
  font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.caveat-bold {
  font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
